.cards__inner {
    background-color: white;
    border-radius: 0px 0px 10px 10px;
    min-height: 79px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 21px;
    padding-right: 21px;
}